repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    exclude: &exclude_files >
      (?x)^(
        tests/inputs/various-whitespace.filter|
        tests/inputs/fuzzystring-leading-trailing-spaces.filter|
        external/GNU_units/definitions.units|
        units/definitions.units|
        .words.lst
      )$

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.3.1
  hooks:
  - id: remove-tabs
    args: [ '--whitespaces-count', '2']
    files: \.rst$
